<div class='splash-welcome'>Welcome to FitBeat</div>
<div class='login-button-container'>
  <div class='login-button'><a href='#' class='fitbit-login-button'>Log In</a></div>
  <div class='button-help-text'>Please log in with Fitbit to continue</div>
</div>
